
html,body{
  height: 75%;
  width: auto;
}
.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: : space-between;
  background-color: #333;
  margin: 0 auto;

}

div.poles {
  background: brown;
  height: 300px;
  width: 50px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;

}
.poles{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: visible;
  align-items: center;
}

.discs.active {
  border: solid purple;
  background: green;
}

#disc1{
  height: 25px;
  width: 60px;
  margin-top: auto;
  margin-bottom: 0;
}

#disc2{
  height: 25px;
  width: 75px;
  margin-top: auto;
  margin-bottom: 0;

}

#disc3{
  height: 25px;
  width: 100px;
  margin-top: auto;
}

/* .poles > #pole2 {
  border: solid yellow;
  background: green;
  height: 100px;
  width: 100px;
  margin: 0 auto;

}

.poles > #pole3 {
  border: solid yellow;
  background: orange;
  height: 100px;
  width: 100px;
  margin: 0 auto;

}
