
html,body{
  height: 75%;
  width: auto;
}

h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;

}
.container{
  height: 75%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: : space-between;
  // background-color: #333;
  background-image: url("http://eskipaper.com/images/cityscape-12.jpg");
  background-position: center center;
  margin: 0 auto;
}
.poles{
  background: brown;
  height: 300px;
  width: 40px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: visible;
  align-items: center;
  justify-content: flex-end;
}


.discs {
  border: solid purple;
  background: green;
}

.highlight {
  background: yellow;
}

#disc1{

  height: 25px;
  width: 100px;
  order:1;
  border: solid purple;
  border-style: groove;
  background: green;
}

#disc2{
  height: 25px;
  width: 120px;
  order: 2;
  border: solid cyan;
  border-style: groove;
  background: salmon;

}

#disc3{
  height: 25px;
  width: 140px;
  order:3;
  border: solid orange;
  border-style: groove;
  background: maroon;
}

footer.active {
  font-size: 70px;
  height: 100%;
  width: auto;
}
